body {
	background: black;
}

.postcard {
	background: white;
	width: 420px;
	height: 340px;
	margin: auto;
	padding: 15px;
	border-radius: 15px;
}
.socialnetwork {
	display: flex;
	padding-left:10px;
	justify-content: center;
}
.postcard .github{
	font-size:20px;
	margin: auto;
	margin-left: 0%;
	padding-left:11px;
	color: black;
}
.postcard-header {
	display: flex;
	align-items: center;
	padding: 5px;
}
.postcard-header img {
	width: 50px;
	height: 50px;
}
.postcard-header h1 {
	margin-right: auto;
}
.postcard-body {
	display: flex;
}
.body-left p:first-child {
	margin-top: 0px;
	font-size: 14px;
}
.body-left,
.body-right {
	padding: 5px;
}
input {
	border: none;
	border-bottom: 1px solid gray;
}
.postcard-footer {
	text-align: center;
	padding: 10px;
}
button {
	background-color: gray;
	padding: 5px;
}
